header{
h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 6em;
}
h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 3em;
}
h1 {
    animation-name: aparecer;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-delay: .3s;
}
@keyframes aparecer {
        0% {
          opacity: 0;
        }
        25% {
            opacity: .25;
        }
        50% {
            opacity: .5;
        }
        75% {
            opacity: .75;
        }
        100% {
          opacity: 1;
        }
}
}